blinker==1.9.0
click==8.4.2
Flask==3.1.3
Flask-Caching==2.4.1
Flask-Limiter==4.1.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
flask-marshmallow==1.5.0
flask-swagger-ui==4.11.1
marshmallow==4.3.1
marshmallow-sqlalchemy==1.5.0
mysql-connector-python==9.7.0
python-jose[cryptography]==3.5.0
python-dotenv==1.2.2
SQLAlchemy==2.0.51
Werkzeug==3.1.8
pytest==8.4.1
